<div class = "row">
  <div class="span3">
    <%=render 'layouts/sidebar' %>
  </div>

  <div class="span9">
    <table class="table table-bordered courseview" style="border-collapse:collapse;">
      <thead class="accordion-group">
        <tr>
          <th><%=  "Courses I'm Shopping" %></th>
          <th><%=  "Courses I'm Taking" %></th>
        </tr>
      </thead>

    <tbody>
      <td id= 'shopping'>
              <%= form_tag update_multiple_user_courses_relationships_path do %>
                <% @shop.each do |course| %>
                <%= check_box_tag "course_ids[]", course.id %>
                 <%= course.name %> </br> 
                 <%=h course.sgid%> 
                 </br>
                 </br>      
              <% end %>  
              </br>
              </br>
              
          <%= submit_tag "Take Selection", :name => 'take_button', class: "btn btn-success" %>
          <%= submit_tag "Delete Selection", :name => 'delete_button', class: "btn btn-danger" %>

              <% end %>
    </td> 
      <td id= 'taking'>

              <%= form_tag update_multiple_user_courses_relationships_path do %>               
                <% @take.each do |course| %>
                <%= check_box_tag "course_ids[]", course.id %>
                 <%= course.name %> </br>
                 <%=h course.sgid%> 
                 </br>
                 </br>        
              
                
              <% end %>

                </br>
                </br>
          <%= submit_tag "Delete Selection", :name => 'delete_button', class: "btn btn-danger" %>
              <% end %>

    </td>
    </tbody>
    </table>
  </div>
</div>

